<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search academic articles</title>
</head>
<body>
<h1>Put some query as a researcher or a topic</h1>

<form th:action="@{/results}" method="get">
    <label for="query">Topic or researcher:</label>
    <input type="text" id="query" name="query" required placeholder="Ex. urban flood mitigation">
    <button type="submit">Search</button>
</form>

<br>
<a th:href="@{/all}">See all my save academic articles</a>
</body>
</html>