<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search academic articles</title>
</head>
<body>
<h1>Query for academic articles</h1>

<form th:action="@{/scholar/results}" method="post">
    <label for="query">Palabra clave o autor:</label>
    <input type="text" id="query" name="query" required placeholder="Ex. urban flood mitigation">
    <button type="submit">Buscar</button>
</form>

<br>
<a th:href="@{/scholar/all}">See all my save academic articles</a>
</body>
</html>